.centered-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(255, 255, 255);
  }
  
  .barra-ricerca {
    display: flex;
    background-color: #3498db;
    border-radius: 5px;
    overflow: hidden;
    max-width: 400px;
  }
  
  .barra-ricerca input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
  }
  
  .barra-ricerca button {
    padding: 10px;
    background-color: #2ecc71;
    border: none;
    color: red;
    cursor: pointer;
  }
  
  .barra-ricerca button:hover {
    background-color: #27ae60;
  }
  